<div class='nested-fields mb-1'>
  <div class='form-group'>
    <%= form.hidden_field :_destroy %>
    <%= form.text_field :value, placeholder: 'Possivel Valor', class: 'form-control inline-block text-base shadow appearance-none border rounded py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline' %>
    <small>
      <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" }, class:"ml-4 px-4 py-2 border-2 border-gray-300 rounded-full text-gray-700 hover:border-red-600 font-bold"%>
    </small>
  </div>
</div>