<div class="p-4">
    Download da base anotada em csv.<br>
    A primeira coluna é o texto, a segunda é a classifição de cada atributo. <br>
    Atributos que não atiginrem o nivel de confiança ou estiverem empatados estarão sem classifição.<br>
    No futuro tambem será possivel gerar para cada classificador e para cada atributo.
    Tem um bug, após gerar o csv para download e baixar é necessario atualizar a pagina para continuar usando.

    Entradas sem nenhuma anotação ficam como classe 0. Anotações que empatam ficam com a classe Empate. Anotações que não atiginram o nivel de confianca minimo ficam com -1. A outras ficam com o nome do possivel atributo.

    (Se enviar sem nivel de confianca sera default para 0)
    <div class="mt-10">
        <%= form_with url: dataset_download_url(@dataset), method: :post, local: true do |f| %>
            <p class="block my-2"><input type="textfield" name="confidence" class="text-base shadow appearance-none border rounded w-10 py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"> Nivel de confiança </p>
            <%= f.submit "Download", class:"text-base shado appearance-none border-2 border-green-500 hover:bg-green-600 bg-green-300 rounded-full py-2 px-3 text-white mb-3 leading-tight focus:outline-none focus:shadow-outline", data: {turbolinks: false}  %>
        <% end %>
    </div>
</div>
