<div class="p-4 w-full">
  <%= link_to "Editar Projeto", edit_dataset_path(@dataset), class:"inline-block bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"%>
</div>
<div class="flex flex-no-wrap justify-start p-4">
  <div class="flex flex-col flex-wrap justify-between h-48 w-56 border-blue-300 border-2 rounded m-4 p-4"> 
    <p class="">X anotações executadas de forma confiante.</p>
    <p class=""> <a href="#" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"> Recarregar</a></p>
  </div>
  <div class="w-96 border-blue-300 border-2 rounded m-4 p-4">
    <p class="text-bold text-lg text-orange-500 border-b-2 border-blue-300 px-4 text-center"> Coisas a fazer apos criar Dataset:</p>
    <ul class="list-disc p-2">
      <li> Adicione os exemplos da base de dados</li>
      <li> Adicione as classes e possiveis classificações </li>
      <li> Adicione pesquisadores para classificar exemplos </li>
      <li> Acompanhe o progresso dos anotadores por aqui</li>
    </ul>
  </div>
</div>
