<div class="container bg-white shadow-md shadow-l-none rounded rounded-lg px-8 pt-6 pb-8" style="width:1024px">
    <div class="flex justify-end mb-4">
        <%= link_to "Criar projeto", new_dataset_url, class:"bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"%>
    </div>
    <h1 class="text-orange-500 text-2xl mb-4 border-solid bo border-teal-300">
        Nesse momento você nâo possui e não esta participando de nenhum projeto de anotação.
        Clique em criar projeto ou peça um link de convite para algum projeto ativo.
    </h1>
</div>
