<p id="notice"><%= notice %></p>

<div class="w-full h-full text-center">
    <h1 class="text-xl text-orange-500 p-4"> Escolha uma classe para realizar a Anotação: </br> </br></h1>
    <div class=""> 
    <% @classes.each do |c| %>
      <%= link_to c.name.titleize, new_dataset_observation_notation_url(@dataset, c), class:" m-4 px-4 py-2 text-center border-orange-500 border-2 rounded-full hover:shadow-lg hover:border-orange-700 hover:bg-indigo-400 " %>
    <% end %>
    </div>
    </br> </br>
    <div class="">
    <%= link_to "Anotar por Exemplos", new_dataset_observation_notation_url(@dataset, 0), class:" m-4 px-4 py-2 text-center border-orange-500 border-2 rounded-full hover:shadow-lg hover:border-orange-700 hover:bg-indigo-400 " %>
    </div>
</div>
<br>