<p id="notice"><%= notice %></p>

<div class="">
  <div class="flex w-full justify-around">
      <% items = [["Anotar Projeto", dataset_choose_class_url(@dataset)], ["Minhas Ultimas Anotações", "#"]] %>
      <% items.each do |item| %>
        <%= link_to item[0], item[1], class:"m-4 px-4 py-2 text-center border-orange-500 border-2 rounded-full hover:shadow-lg hover:border-orange-700 hover:bg-indigo-400 w-full"%> 
      <% end %>
  </div>
</div>

<br>
