<div>
  <div>
    <% if @dataset.share_link %>
      <p class="border-2 border-blue-400 px-2 py-2 rounded m-4 inline-block bg-gray-400"> <%= dataset_enter_url(@dataset.share_link) %></p>
      <%= link_to "Desativar Entrada", dataset_share_link_url(@dataset), class:"mt-4 inline-block bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <% else %>
      <%= link_to "Ativar Entrada", dataset_share_link_url(@dataset), class:"ml-4 mt-4 inline-block bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <% end %>
  </div>
  Aqui tem uma tabela dos membros do dataset, deverá poder deletar e promover a dono! </br>
  <% @members.each do |member| %>
    <%= member.email %>
  <% end %>

</div>